@keyframes slide-in {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.status-message {
  position: absolute;
  top: 12px;
  right: 12px;
  /* transform: translateX(-50%); */
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  z-index: 100;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: opacity 0.4s, background-color 0.4s;

  &.visible {
    opacity: 1;
    animation: slide-in 0.3s ease-out;
  }

  &.hidden {
    opacity: 0;
    animation: slide-out 0.3s ease-out;
  }

  &.info {
    background-color: var(--color-info);
    color: white;
  }

  &.success {
    background-color: var(--color-success);
    color: white;
  }

  &.error {
    background-color: var(--color-error);
    color: white;
  }
}
